.logoNavBar {
    width: 70px;
    height: auto;
}
.logo {
    width: 450px;
    height: auto;
}
.logoNavBar:hover {
    width: 100px;
    height: auto;
}
body {
    background: #FFFFFF;
}
.searchlanding{
    width: 30%;
}
.searchanswer{
    padding-left: 7%;
}
.dotline{
    border-top: 1px dashed lightslategrey;

}
.smallmarginleft{
    margin-left:1%;
}
:root {
    --mainColor: #FFE531;
}
.footerbg{
    background-color: #FFE531;
}
.myTeamNav{
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size .2s;
}

.myTeamNav:hover {
    background-size: 4px 50px;
}
